@import 'var.scss';

*{margin:0;padding:0;border:0;-webkit-tap-highlight-color:rgba(0, 0, 0, 0);-webkit-text-size-adjust:100%;}
html{height:100%;}
body{margin:0 auto;max-width:540px;overflow:hidden;font-size:$h2;color:$lightBlack;background:$bg;font-family:Arial,'Lucida Grande',Verdana,'Microsoft Yahei',STXihei,Sans-serif;user-select:none;}
a,img{text-decoration:none;-webkit-appearance:none;color:inherit;}
img.banner{display:block;width:100%;}
button,input,textarea,select{font:inherit;border:none;background:none;-webkit-appearance:none;}
button.dis{background:$gray!important;}
h1,h2,h3,h4,h5{font-size:100%;font-weight:400;}
ul li{list-style:none;}

.clearfix{overflow:hidden;zoom:1;}
.dis{pointer-events:none;}

.icon {
  /* 通过设置 font-size 来改变图标大小 */
  width: .22rem; height: .22rem;
  /* 图标和文字相邻时，垂直对齐 */
  vertical-align: middle;
  /* 通过设置 color 来改变 SVG 的颜色/fill */
  fill: currentColor;
  /* path 和 stroke 溢出 viewBox 部分在 IE 下会显示
     normalize.css 中也包含这行 */
  overflow: hidden;
}

#app{position:relative;box-sizing:border-box;}
.container{position:absolute;top:0;right:0;left:0;bottom:0;width:100%;overflow:hidden;}
.page-content{height:100%;overflow:auto;-webkit-overflow-scrolling:touch;box-sizing:border-box;}

//mint-ui reset
.mint-spinner-triple-bounce div{background:$mainColor!important;}
.mint-switch-input:checked + .mint-switch-core{border-color:$mainColor!important;background-color:$mainColor!important;}
.mint-navbar.is-fixed{position:absolute!important;}
.mint-navbar .mint-tab-item.is-selected{color:$mainColor!important;border-color:$mainColor!important;}
.mint-radio-input:checked+.mint-radio-core{background-color:$mainColor!important;border-color:$mainColor!important;}
.mint-cell-wrapper{font-size:.14rem!important;height:.44rem!important;line-height:.44rem!important;background:none!important;border-bottom:$border;}
.mint-radiolist-label{padding:0!important;}
.mint-indicator-wrapper,.mint-indicator-mask{z-index: 9999!important;}
.mint-toast{z-index:9999!important;}

//swiper reset
.swiper-pagination-bullet-active{background: #fff!important;}

.sub{width:100%;line-height:.4rem;display:block;background:$mainColor;color:#fff;text-align:center;border-radius:5px;letter-spacing:.1rem;}
.card{margin:.15rem auto;border-radius:5px;background:#fff;}

// 左滑子页面
.subList{position:absolute;display:block;width:60%;left:auto;z-index:$middleFloor;transition:all .3s ease-out;}
.subList.moveout{-webkit-transform:translateX(100%);transform:translateX(100%);}


.list{border-top:$border;background:#fff;}
.list{li{display:block;padding:.14rem;border-bottom:$border;}
  li.loadmore{text-align:center;font-size:$h3;}}

.arrow-link{position: relative;
  &::after{position:absolute;content:'';width:0;height:0;right:.21rem;top:50%;margin-top:-.05rem;border:.05rem solid transparent;border-right:0;border-left-color:#fff;}
  &::before{position:absolute;content:'';width:0;height:0;right:.2rem;top:50%;margin-top:-.05rem;border:.05rem solid transparent;border-right:0;border-left-color:$gray;}
}

.arrow div{position:relative;
  &::after{position:absolute;content:'';width:0;height:0;top:.04rem;right:1px;border:.06rem solid transparent;border-right:0;border-left-color:#fff;}
  &::before{position:absolute;content:'';width:0;height:0;top:.04rem;right:0;border:.06rem solid transparent;border-right:0;border-left-color:#999;}}
.arrow.on div{&::before{border-left-color:$mainColor;}}
.on{color:$mainColor;}

.lc-error{width: 100%;height: 100%;overflow: hidden;@include box;@include flexDir(column);justify-content:center;text-align:center;
    img{width:.8rem;height:.8rem;margin:0 auto;}
    p{margin-top:.2rem;color:$gray;text-align: center;}
}

.nodata{padding:.15rem 0;color:$gray;text-align:center;}
.cover{position:absolute;width:100%;height:100%;top:0;right:0;left:0;bottom:0;background:rgba(0,0,0,.6);z-index:$bottomFloor;}


/*-------页面过渡------- */
.fade-in-enter,.fade-out-enter{visibility:hidden;opacity:0;}
.fade-in-enter-active{transition:opacity .5s ease;}
.fade-out-enter-active{transition:opacity .5s ease;}

.slide-in-enter,.slide-out-enter{visibility:hidden;}
.slide-in-enter-active{animation:pageFromRightToCenter .4s forwards;}
.slide-in-leave-active{animation:pageFromCenterToLeft .4s forwards;}
.slide-out-enter-active{animation:pageFromLeftToCenter .4s forwards;}
.slide-out-leave-active{animation:pageFromCenterToRight .4s forwards;}

@keyframes pageFromRightToCenter{from{transform:translate3d(80%, 0, 0);}to{transform:translate3d(0, 0, 0);}}
@keyframes pageFromCenterToLeft{from{transform:translate3d(0, 0, 0);}to{transform:translate3d(-20%, 0, 0);}}
@keyframes pageFromLeftToCenter{from{transform:translate3d(-20%, 0, 0);}to{transform:translate3d(0, 0, 0);}}
@keyframes pageFromCenterToRight{from{transform:translate3d(0,0,0);}to{transform:translate3d(100%,0,0);}}




  
    






